@import url('https://fonts.googleapis.com/css?family=Quantico:400,700|Roboto:300,400&display=swap');
 :root {
    --crna: #1e1e1e;
    /* rgba(30, 30, 30, .9) */
    --zelena: #78bc62;
    /* rgb(120, 188, 98) */
    --zuta: #ffd944;
    /* rgb(255, 217, 68) */
    --siva: #102438;
    --svetloSiva: #f4f4f4;
    --bela: #fff;
    --padding: 100px 0;
    --headings: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--siva);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quantico', sans-serif;
}


/* ------------ 
       NAV 
-------------- */

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.navbar i {
    color: var(--zelena);
}

nav li a {
    color: var(--crna) !important;
}

.navbar .container-fluid .navbar-brand {
    font-family: 'Quantico', sans-serif;
    text-transform: uppercase;
}


/* ------------ 
     HEADER 
-------------- */

header {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 70vh;
}

.col-sm-12 {
    height: 70vh;
    padding: 0 5%;
}

header h1 {
    color: var(--bela);
    padding: 0;
}

header p {
    color: var(--bela);
}

header button {
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid var(--zuta);
    cursor: pointer;
    background-color: var(--zuta);
    text-transform: uppercase;
    font-family: 'Quantico', 'sans-serif';
}

header button:hover {
    background: none;
    color: var(--zuta);
    transition: .2s ease;
}


/* ------------ 
     FOOTER 
-------------- */

footer {
    background: var(--siva);
    padding: 50px 0;
    color: var(--bela);
}

footer .container-fluid {
    padding: 70px 13%;
}

footer i {
    color: var(--zelena);
}

footer img {
    width: 30%;
}

footer li {
    margin-right: 25px;
}

footer a {
    color: var(--bela);
    width: 20px;
}

footer form input {
    border: 1px solid var(--zelena);
    padding: 5px 0;
}

footer form button {
    background: var(--zelena);
    border: 1px solid var(--zelena);
    padding: 5px 7px;
    /* position: relative;
    top: -10px */
    margin-top: 0;
}

footer form {
    display: flex;
    justify-content: center;
    align-items: start;
}

footer form i {
    color: var(--siva);
}

footer .col-md-6 {
    margin-bottom: 20px;
    height: 100%;
}

footer hr {
    width: 90%;
    border-top: 1px solid var(--svetloSiva);
    margin: auto;
}


/* ------------ 
     CARDS 
-------------- */


/* .main-card {
    
} */

.main-card .card {
    width: 100% !important;
    box-shadow: 0 0 10px var(--bela);
}

.main-card .container-fluid .row {
    position: relative;
    bottom: 100px;
}


/* @media(max-width:767px) {
                    .main-card {
                        bottom: 0;
                    } */


/* ---------------- 
    LATEST WORKS 
------------------ */

.works .row .col-md-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works .row .col-md-5:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works .row .col-md-5:nth-child(3) img:nth-child(1) {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works .row .col-md-5:nth-child(3) .row .col-md-6:first-child img,
.works .row .col-md-5:nth-child(3) .row .col-md-6:last-child img {
    height: 65vh;
    object-fit: cover;
    object-position: center;
    /* background-image: url(img/works5.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh; */
}

.works button {
    margin: 40px 0 90px;
    padding: 5px 15px;
    border: 1px solid var(--zelena);
    cursor: pointer;
    background-color: var(--zelena);
    text-transform: uppercase;
    font-family: 'Quantico', 'sans-serif';
}

.works button:hover {
    background: none;
    color: var(--zelena);
    transition: .2s ease;
}


/* ---------------- 
       ABOUT 
------------------ */

.about .container-fluid .row .col-sm-6:first-child {
    background: var(--svetloSiva);
    padding: 30px;
}

.about .container-fluid .row .col-sm-6:first-child {
    padding: 60px !important;
}

.about .container-fluid .row .col-sm-6 ul li {
    padding: 40px 0;
}

.about .container-fluid .row .col-sm-6 ul li i {
    color: var(--zelena);
    background: var(--bela);
    padding: 20px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.about .container-fluid .row .col-sm-6 ul li article h5 {
    text-transform: uppercase;
}


/* .about .row .col-md-6 ul li article p {
    padding-bottom: 0;
} */

.about .container-fluid .row .col-sm-6:last-child {
    padding: 0;
    margin: 0;
}

.about .container-fluid .row .col-sm-6:last-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}


/* ---------------- 
     OUR TEAMS 
------------------ */

.our-teams .row:first-child {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.our-teams .card {
    border: none;
    padding: 0 20px;
    width: 100% !important;
}

.our-teams .card-body {
    background: var(--svetloSiva);
    margin-bottom: 100px;
}

.our-teams .container .row:last-child .col-md-3 .card .card-body h5 {
    margin: 0;
}

.our-teams .row:last-child p {
    color: var(--zelena);
    margin: 0;
    font-size: .9rem;
    font-weight: lighter;
    letter-spacing: 1px;
}

.our-teams .row:last-child i {
    color: gray;
    margin: 0 10px;
}


/* ---------------- 
     CONTACT US 
------------------ */

.contact-us {
    background: linear-gradient(rgba(120, 188, 98, .7), rgba(120, 188, 98, .7)), url(img/promote.jpg);
    background-position: top;
    background-size: cover;
    height: 40vh;
}

.contact-us .col-md-12 {
    height: 40vh;
}

.contact-us button {
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid var(--siva);
    cursor: pointer;
    color: var(--bela);
    background-color: var(--siva);
    text-transform: uppercase;
    font-family: 'Quantico', 'sans-serif';
}

.contact-us button:hover {
    background: none;
    color: var(--siva);
    transition: .2s ease;
}


/* ---------------- 
      CLIENTS 
------------------ */

.clients .col-md-4 {
    padding: 20px 40px;
}

.clients img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.clients hr {
    width: 100%;
}


/* ---------------- 
      CLIENTS 
------------------ */

.header-pricing {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
}

.service .row:first-child {
    height: 20vh;
}


/* ---------------- 
      SERVICES 
------------------ */

.service .row:last-child article {
    box-shadow: 0 0 5px var(--crna);
    padding: 20px;
}

.service .row:last-child .col-lg-3 hr {
    border: 1px solid var(--svetloSiva);
    width: 90%;
    margin: 0 auto 10px;
}

.service .row:last-child .col-lg-3 li {
    padding: 5px 0;
}

.service .row:last-child .col-lg-3 button {
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid var(--zelena);
    cursor: pointer;
    color: var(--siva);
    background-color: var(--zelena);
    text-transform: uppercase;
    font-family: 'Quantico', 'sans-serif';
}

.service .row:last-child .col-lg-3 button:hover {
    background: none;
    color: var(--zelena);
    transition: .2s ease;
}


/* ---------------- 
      CONTACT 
------------------ */

.header-contact {
    background: none;
    height: 600px;
}

.header-contact .row .col-md-12 {
    height: 100% !important;
}

.header-contact .row:last-child .col-lg-6 p {
    color: var(--crna) !important;
    /* padding: 0 5px;
    margin-bottom: 0; */
}

.header-contact .row:last-child .col-lg-6 ul li {
    padding-bottom: 30px;
}

.header-contact .row:last-child .col-lg-6 ul li p {
    color: var(--crna) !important;
    padding: 0 5px;
    margin-bottom: 0;
}

.header-contact .row:last-child .col-lg-6 ul li p:first-child {
    font-size: 1.1rem;
}

.header-contact .row:last-child .col-lg-6 ul li p:last-child {
    font-size: .8rem;
}

.header-contact .row:last-child .col-lg-6 ul i {
    font-size: 2.1rem;
    margin-right: 15px;
    color: var(--zelena);
    padding-left: 5px;
}

.header-contact .row:last-child .col-lg-6 form input,
.header-contact .row:last-child .col-lg-6 form textarea {
    margin-bottom: 10px;
    border: 1px solid var(--zelena);
    padding-left: 5px;
}

.header-contact .row:last-child .col-lg-6 form input::placeholder,
.header-contact .row:last-child .col-lg-6 form textarea::placeholder {
    color: var(--siva);
}

.header-contact .row:last-child .col-lg-6 button {
    margin-top: 20px;
    padding: 5px 15px;
    border: 1px solid var(--zelena);
    cursor: pointer;
    color: var(--siva);
    background-color: var(--zelena);
    text-transform: uppercase;
    font-family: 'Quantico', 'sans-serif';
}

.header-contact .row:last-child .col-lg-6 button:hover {
    background: none;
    color: var(--zelena);
    transition: .2s ease;
}